<!doctype html>
<html lang="en" ng-app="ShoppingList">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src = "app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">
    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ShoppingListBuyController as buyController">
     <h2>To Buy:</h2>
     <ul ng-repeat="buyItem in buyController.items">
       <li>Buy {{buyItem.amount}} {{buyItem.name}} <button ng-click="buyController.buyItem($index)" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
     </ul>
     <div ng-show="buyController.isEverythingBought()" class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6"  ng-controller="ShoppingListShowController as showController">

     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="buyItem in showController.items">
           {{buyItem.amount}} {{buyItem.name}}
       </li>
     </ul>
     <div ng-hide="showController.isAnythingBought()" class="emptyMessage">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
